<div> 
    <h1>Lista de Gênero</h1>
    <button><%= link_to 'Criar novo gênero', new_genero_path%></button>
</div>
<br>
<br>
<ul>
    <%@generos.each do |element|%>
        <li>
            <%= link_to element.nome , genero_path(element.id) %>
            <button><%= link_to 'Editar', edit_genero_path(element.id) %> </button> 
        </li>
        <br>
    <%end%>
</ul>