<div> 
    <h1>Lista de Genêro</h1>
    <button><%= link_to 'Criar novo genêro', new_genero_path%></button>
</div>
<br>
<br>
<ul>
    <%@generos.each do |element|%>
        <li>
            <%= element.nome%>
            <button>editar</button> 
            <button>deletar</button>
        </li>
        <br>
    <%end%>
</ul>