<ul class="nav__links">
    <li class="button_style m-20"> <%= link_to 'Filmes', filmes_path %> </li>
    <li class="button_style m-20"> <%= link_to 'Gêneros', generos_path %> </li>
    <li class="button_style m-20"> <%= link_to 'Diretores', diretor_index_path %> </li>
</ul>