<!DOCTYPE html>
<html>
    <head> 
        <title>Catálogo de Filmes</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        <ul>
            <li><a href="">Filmes</a></li>
            <li><a href="">Gêneros</a></li>
            <li><a href="">Diretores</a></li>
        </ul>
    </body>
</html>