<div> 
    <h1>Lista de Diretores</h1>
    <button><%= link_to 'Criar novo diretor', new_diretor_path%></button>
</div>
<br>
<br>
<ul>
    <%@diretores.each do |element|%>
        <li>
            <%= link_to element.nome, diretor_path(element.id) %>
            <br>
            <br>
            <button><%= link_to 'Editar', edit_diretor_path(element.id) %> </button> 
        </li>
        <br>
    <%end%>
</ul>