<div> 
    <h1>Lista de Diretores</h1>
    <button class="button_style"><%= link_to 'Criar novo diretor', new_diretor_path%></button>
</div>
<br>
<br>
<div class="container_list">
    <%@diretores.each do |element|%>
        <div class="item">
            <h2><%= element.nome%></h2>
            <div>
                <span class="button_style m-20"><%= link_to  'Ver', diretor_path(element.id) %></span>
                <button class="button_style"><%= link_to 'Editar', edit_diretor_path(element.id) %> </button> 
            </div>
        </div>
    <%end%>
</div>